@import "tailwindcss";
* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
html[data-mui-color-scheme="dark"] {
  color-scheme: dark;
}
html[data-mui-color-scheme="light"] {
  color-scheme: light;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
.MuiPaper-root,
.MuiButton-root,
.MuiIconButton-root,
.MuiCard-root {
  transition: background-color 0.3s ease, color 0.3s ease !important;
}
html[data-mui-color-scheme="dark"] body {
  color: rgb(229, 231, 235);
}
html[data-mui-color-scheme="dark"] .text-neutral-dark {
  color: rgb(229, 231, 235);
}
html[data-mui-color-scheme="dark"] .MuiTextField-root .MuiOutlinedInput-root,
html[data-mui-color-scheme="dark"] .MuiSelect-root {
  color: rgb(229, 231, 235);
}
@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}
html[data-mui-color-scheme="dark"] .app-sidebar a,
html[data-mui-color-scheme="dark"] .app-sidebar a *,
html[data-mui-color-scheme="dark"] .app-sidebar .MuiListItemIcon-root svg {
  color: #ffffff !important;
  fill: #ffffff !important;
  stroke: #ffffff !important;
}
html[data-mui-color-scheme="dark"] .app-sidebar a.active,
html[data-mui-color-scheme="dark"] .app-sidebar a.active * {
  color: var(--mui-palette-primary-main, #1976d2) !important;
  fill: var(--mui-palette-primary-main, #1976d2) !important;
  stroke: var(--mui-palette-primary-main, #1976d2) !important;
}
html[data-mui-color-scheme="light"] .app-sidebar a,
html[data-mui-color-scheme="light"] .app-sidebar a * {
  color: inherit !important;
  stroke: inherit !important;
  fill: inherit !important;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  will-change: clip-path, opacity, transform;
}
html[data-mui-color-scheme="dark"] {
  transition: background-co lor 200ms linear, color 200ms linear;
}
html[data-mui-color-scheme="light"] {
  transition: background-color 200ms linear, color 200ms linear;
}
html[data-mui-color-scheme="dark"] .MuiMenu-paper,
html[data-mui-color-scheme="dark"] .MuiPopover-paper,
html[data-mui-color-scheme="dark"] .MuiMenu-list {
  background-color: #07090b !important;
  color: rgba(255, 255, 255, 0.9) !important;
  border: 1px solid rgba(255, 255, 255, 0.04) !important;
}
html[data-mui-color-scheme="dark"] .MuiMenuItem-root,
html[data-mui-color-scheme="dark"] .MuiMenuItem-root .MuiListItemText-primary {
  color: rgba(255, 255, 255, 0.9) !important;
}
html[data-mui-color-scheme="dark"] .MuiMenu-paper .profile-menu-header,
html[data-mui-color-scheme="dark"] .MuiMenu-paper .profile-menu-header * {
  color: rgba(255, 255, 255, 0.95) !important;
}
